/log/
/temp/
/vendor/
/app/config/config.local.neon
/app/config/database.neon
/www/checker/
/nbproject/
/web.config
/api/
/_doc/
/www/webtemp/
/node_modules/
/www/files/
/.vscode/
/www/dist/
/.history/
deployment.ini
deployment.log
sql/bwfoto_new_data.sql