<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow">
		<title>{ifset title}{include title|stripHtml} | {/ifset}{$appName}</title>
		<link rel="stylesheet" type="text/css" href="{webpack front.css}">
		{control favicon}
	</head>
	<body class="sb-nav-fixed">
		<div 
			id="app"
			data-base-path="{$basePath}"
			data-base-url="{$baseUrl}"
		></div>
		<script src="{webpack front.js}"></script>
	</body>
</html>
