#
# Last change 21.04.2020
#
base_lang_not_def: 'Language you require is not defined for this site!'
base_nie_je_opravnenie1: 'You do not have enough privileges for this operation!'
base_prihlaste_sa: 'Please log in!'
base_nette_title: 'Nette Framework - popular framework for creating a web aplications in PHP.'
base_nette_powered: 'nette powered'
base_link_to_admin_log_in: 'Log in for administration of web'
base_SignInForm_email: 'Email:'
base_SignInForm_email_req: 'Please indicate email.'
base_SignInForm_password: 'Password:'
base_SignInForm_password_req: 'Please indicate the password.'
base_SignInForm_remember: 'Remember Me'
base_SignInForm_login: 'Login ...'
base_Log_In_Error_2: 'Invalid email or password!'
base_AdminLink_name: 'Administration'
base_save: 'Save'
base_not_found: 'Article not found! msg: %s'
base_platnost_do: 'Expiration date: '
base_zadal: 'Entered: '
base_zobrazeny: 'Displayed: '
base_anotacia: 'Annotation:'
base_viac: 'more'
base_title: 'Show more'
base_view_all: 'View all content.'
base_text_title_image: 'Title image'
base_template_not_found: 'Display error! Incorect name of template[%s]...'
base_search: 'Search'
base_edit: 'Edit'
base_del: 'Delete'
base_last_update: 'Last update'
komponent_kontakt_h4: 'Contact form'
komponent_kontakt_uvod: ''
komponent_kontakt_header: 'New message for: '
komponent_kontakt_meno: 'Your name:'
komponent_kontakt_memo_sr: 'Your name must be entered!'
komponent_kontakt_email: 'Your e-mail'
komponent_kontakt_email_ar: 'Please, write e-mail in correct form. For example: jano@hruska.com'
komponent_kontakt_email_sr: 'Your e-mail must be specified!'
komponent_kontakt_text: 'Your query:'
komponent_kontakt_text_sr: 'Text your query must be specified!'
komponent_kontakt_text_s: 'Your message:'
komponent_kontakt_text_s_sr: 'Message text must be typed!'
komponent_kontakt_uloz: 'Send query'
komponent_kontakt_send_ok: 'Your query has been sent okay. Thank you for posting your query.'
komponent_kontakt_send_er: 'Your query has been sent!. An error has occurred. Please try again later.<br />'
komponent_kontakt_send_s: 'Send the message'
komponent_kontakt_send_s_ok: 'Your message has been sent in order.'
komponent_kontakt_send_s_er: 'Your message was not sent !. An error occurred. Please try again later.<br />'
komponent_kontakt_remember: 'Remember email'
komponent_kontakt_warning: '<strong>Warning!</strong><br>Once your message has been submitted, the confirmation of your email address is required. If you check \"Remember email\" you will no longer need to confirm your email at the next contact.'
komponent_kontakt_email_web: 'Message from contact form from web %s' 
komponent_kontakt_email_msg: 'User %s send you next message:'
komponent_kontakt_verifi_su: 'Verify email from the contact form of the page %s'
komponent_kontakt_verifi_tx: 'Thank you for contacting us. To successfully send your message to name: %s, you need to verify your email address. <br /> To do this, click the following link:'
komponent_kontakt_verifi_mg: 'Your message: '
komponent_nahodna_notFound: 'No photo could not be found!'
komponent_nahodna_h4: 'something from the gallery ...'
base_kontakt_h2: 'Contact'
base_aktualne_h2: 'NEWS'
base_component_news_h4: 'News:'
base_nice_day: 'Pleasant day wishes '

# SignInForm
SignInForm_email: 'Email:'
SignInForm_email_req: 'Please indicate email.'
SignInForm_password: 'Password:'
SignInForm_password_min_lenght: 'Password must have at least %d characters'
SignInForm_password_req: 'Please indicate the password.'
SignInForm_remember: ' Remember Me'
SignInForm_login: 'Login ...'
SignInForm_forgottenPassword: 'Forgotten password?'

# Clanky
clanky_h2: ''
clanky_nic_nie_je: 'This section has not yet entered any valid article.'
clanky_bez_opravnenia: 'You do not have enough privileges for this operation!'
clanky_nenajdeny_clanok_h2: 'Article not found'
clanky_nenajdeny_clanok_txt: 'Sorry, but the article you requested could not be found. Or the article does not exist or you do not have enough privileges to view the article.'
clanky_nenajdeny_clanok: 'Requested article not found'
clanky_nenajdeny_clanok_hl: 'Main article requested can not be found of'
clanky_najdeny_ale_neopravneny: 'The article exists, but you are not authorized to read them!'
clanky_viac: 'read more'
clanky_viac_info: 'More information'
clanky_odkazNaClankyControl_not_found: 'Link to article requested can not be found!'
clanky_aktualny_projekt_h2: 'Current project'
clanky_to_foto_galery: 'Enter the photo gallery'
clanky_to_article: 'Enter the article'
clanky_dokument_not_found: 'The document you are looking for has unfortunately not found!'
clanky_dokument_download: 'Download'
clanky_dokument_view: 'show'
clanky_h3_prilohy: 'Attachments'
clanky_h3_prilohy_audios: 'Audio attachments'
clanky_h3_prilohy_videos: 'Video attachments' 
clanky_h3_prilohy_images: 'Imege attachments'
clanky_h3_prilohy_others: 'Attachments'
clanky_h3_suvisiace_podcl: 'Related Subfolders'

galery_arrows_before: 'before'
galery_arrows_after: 'after'

#Error
err_403_h2: 'Access Denied'
err_403_text: 'You do not have permission to view this page. Please try contact the web site administrator if you believe you should be able to view this page.'
err_404_h2: 'Page Not Found'
err_404_text: 'The page you requested could not be found. It is possible that the address is incorrect, or that the page no longer exists. Please use a search engine to find what you are looking for.'
err_405_h2: 'Method Not Allowed'
err_405_text: 'The requested method is not allowed for the URL.'
err_410_h2: 'Page Not Found'
err_410_text: 'The page you requested has been taken off the site. We apologize for the inconvenience.'
err_4xx_h2: 'Oops...'
err_4xx_text: 'Your browser sent a request that this server could not understand or process.'
err_500_h2: 'Server Error'
err_500_text: "We're sorry! The server encountered an internal error and was unable to complete your request. Please try again later."