base_aktualne_h2: 'CURRENT'
base_viac: 'mehr'
base_view_all: 'Sehen Sie den gesamten Inhalt.'
base_not_found: 'Ihr Artikel wurde leider nicht gefunden! Mögliche Ursache: %s'
base_text_title_image: 'Cover-Bild'
base_platnost_do: 'Ablaufdatum: '
base_zadal: 'Zugeordnet: '
base_search: 'Suche'
base_edit: 'bearbeiten'
base_del: 'rücksetzen'
base_last_update: 'Letzte aktuell' #????
komponent_kontakt_header: 'Neue Nachricht für: '
komponent_kontakt_meno: 'Ihr Name:'
komponent_kontakt_memo_sr: 'Ihr Name muss eingegeben werden!'
komponent_kontakt_email: 'Ihre E-Mailadresse:'
komponent_kontakt_email_ar: 'Bitte geben Sie Ihre E-Mail in der richtigen Form ein. Z.B. jano@hruska.com'
komponent_kontakt_email_sr: 'Deine Email muss getippt werden!'
komponent_kontakt_text: 'Ihre Frage:'
komponent_kontakt_text_s: 'Ihre Nachricht:'
komponent_kontakt_text_s_sr: 'Nachrichtentext muss eingegeben werden!'
komponent_kontakt_send_s: 'Sende die Nachricht'
komponent_kontakt_send_s_ok: 'Ihre Nachricht wurde der Reihe nach gesendet.'
komponent_kontakt_send_s_er: 'Ihre Nachricht wurde nicht gesendet! Ein Fehler ist aufgetreten. Bitte versuche es später erneut.<br />'
komponent_kontakt_remember: 'Merken Sie sich die Email'
komponent_kontakt_warning: '<strong>Achtung!</strong><br>Sobald Ihre Nachricht gesendet wurde, ist die Bestätigung Ihrer E-Mail-Adresse erforderlich. Wenn Sie \"Merken Sie sich die Email\" aktivieren, müssen Sie Ihre E-Mail beim nächsten Kontakt nicht mehr bestätigen.'
komponent_kontakt_verifi_su: 'Überprüfen Sie die E-Mail im Kontaktformular der Seite %s'
komponent_kontakt_verifi_tx: 'Danke, dass Sie uns kontaktiert haben. Um Ihren Nachricht erfolgreich an Name: %s zu senden, müssen Sie Ihre E-Mail-Adresse bestätigen. <br /> Klicken Sie dazu auf den folgenden Link:'
komponent_kontakt_verifi_mg: 'Ihre Nachricht: '
base_nice_day: 'Angenehme Tagwünsche '

# SignInForm
SignInForm_email: 'E-mail:'
SignInForm_email_req: 'Bitte geben Sie eine Benutzer-E-Mail an.'
SignInForm_password: 'Passwort:'
SignInForm_password_min_lenght: 'Das Passwort muss mindestens %d Zeichen enthalten'
SignInForm_password_req: 'Bitte geben Sie das Passwort an.'
SignInForm_remember: ' Erinnere dich an mich'
SignInForm_login: 'Anmelden ...'
SignInForm_forgottenPassword: 'Passwort vergessen?'

# Clanky
clanky_h2: ''
clanky_nic_nie_je: 'Dieser Abschnitt ist noch keinen gültigen Artikel angegeben.'
clanky_bez_opravnenia: 'Sie haben keine Berechtigung für diesen Vorgang!'
clanky_nenajdeny_clanok_h2: 'Artikel nicht gefunden'
clanky_nenajdeny_clanok_txt: 'Es tut uns Leid, Ihnen angeforderte Artikel gefunden wird. Oder Artikel existiert nicht oder Sie haben keine ausreichende Berechtigung um den Artikel anzuzeigen.'
clanky_nenajdeny_clanok: 'Der angeforderte Artikel wurde nicht gefunden'
clanky_nenajdeny_clanok_hl: 'Erforderliche Hauptteil des Artikels wird gefunden'
clanky_najdeny_ale_neopravneny: 'Der angeforderte Artikel existiert, aber Sie haben keine Berechtigung zum Lesen!'
clanky_viac: 'mehr lesen'
clanky_viac_info: 'weitere Informationen'
clanky_odkazNaClankyControl_not_found: 'Link zum Artikel nicht gefunden!'
clanky_aktualny_projekt_h2: 'Aktuelles Projekt'
clanky_to_foto_galery: 'Betritt die Fotogalerie'
clanky_to_article: 'Geben Sie den Artikel ein'
clanky_dokument_not_found: 'Das von Ihnen gesuchte Dokument wurde leider nicht gefunden!'
clanky_dokument_download: 'Herunterladen'
clanky_dokument_view: 'Show'
clanky_h3_prilohy: 'Anhänge'
clanky_h3_prilohy_audios: 'Audio Anhänge'
clanky_h3_prilohy_videos: 'Video Anhänge' 
clanky_h3_prilohy_images: 'Imege Anhänge'
clanky_h3_prilohy_others: 'Anhänge'
clanky_h3_suvisiace_podcl: 'Verwandte Unterordner'