#
# Last change 15.08.2023
#

# Nette forms...
EQUAL: 'Zadajte %s.'
NOT_EQUAL: 'Táto hodnota by nemala byť %s.'
FILLED: 'Toto pole je povinné.'
BLANK: 'Toto pole by malo byť prázdne.'
MIN_LENGTH: 'Zadajte, prosím, aspoň %d znakou.'
MAX_LENGTH: 'Zadajte, prosím, maximálne %d znakou.'
LENGTH: 'Zadajte, prosím, hodnotu %d až %d znakou dlhú.'
Please-enter-a-valid-email-address: 'Zadajte, prosím, platnú e-mailovú adresu (napr. mojko@mail.sk).'#ok
URL: 'Zadajte, prosím, platnú URL.'
INTEGER: 'Zadajte, prosím, platné celé číslo.'
FLOAT: 'Zadajte, prosím, platné číslo.'
MIN: 'Zadajte, prosím, hodnotu väčšiu alebo rovnú %d.'
MAX: 'Zadajte, prosím, hodnotu menšiu alebo rovnú %d.'
RANGE: 'Zadajte, prosím, hodnotu medzi %d a %d.'
MAX_FILE_SIZE: 'Veľkosť nahraného súboru môže byť najviac %d bytov.'
MAX_POST_SIZE: 'Nahrané dáta prekračujú limit %d bytov.'
MIME_TYPE: 'Nahraný súbor nie je v očakávanom formáte.'
IMAGE: 'Nahraný súbor musí býť obrázok vo formáte JPEG, GIF, PNG alebo WebP.'
Nette\Forms\Controls\SelectBox::VALID: 'Vyberte, prosím, platnú možnosť.'
Nette\Forms\Controls\UploadControl::VALID: 'Pri nahrávaní súboru došlo k chybe.'
Nette\Forms\Controls\CsrfProtection::PROTECTION: 'Vaša relácia vypršala. Vráťte sa na domovskú stránku a skúste to znovu.'

base_homepage: 'Domovská stránka'
base_lang_not_def: 'Jazyk, ktorý požadujete, nie je pre tento web definovaný!<br />Language you require is not defined for this site!'
base_nie_je_opravnenie: 'Na požadovanú akciu %s nemáte dostatočné oprávnenie!'
base_nie_je_opravnenie1: 'Nemáte dostatočné oprávnenie na danú operáciu!'
base_loged_in_bad: 'Daná akcia je určená pre neprihláseného užívateľa!'
base_internal_error: 'Je nám ľúto, ale došlo k vnútornej chybe! Prosím skúste úpredošlú operáciu neskôr znovu...'
base_log_out_mess: 'Boli ste úspešne odhlásený...'
base_nette_title: 'Nette Framework - populárny nástroj pre vytváranie webových aplikácií v PHP.'
base_nette_powered: 'vytvorené v nette'
base_link_to_admin_log_in: 'Prihlásenie pre administráciu webu'
base_delete_text: 'Naozaj chceš zmazať %s: %s ?'
base_AdminLink_name: 'Administrácia'

base_prihlaste_sa: 'Prosím, prihláste sa!'
base_save: 'Uložiť'
base_not_save: 'Späť bez zmeny'
base_save_ok: 'Údaje boli uložené v poriadku!'
base_form_required: '<span class="form_required">Červeno</span> označené položky sú povinné!'
base_not_found: 'Položka sa žiaľ nenašla! Možná príčina: %s'
base_platnost_do: 'Platnosť do: '
base_platil_do: 'Platil do: '
base_neplatny: 'Článok už nie je platný!'
base_zadal: 'Zadal: '
base_zobrazeny: 'Zobrazený: '
base_anotacia: 'Anotácia:'
base_aktualny_projekt: 'Aktuálny projekt'
base_aktualne_clanky: 'Aktuálne'
base_viac: 'viac'
base_title: 'Zobrazenie celého obsahu.'
base_view_all: 'Zobrazenie celého obsahu.'
base_text_title_image: 'Titulný obrázok'
base_error_bad_link: 'Pokúšate sa dostať na neexzistujúcu stránku!'
base_template_not_found: 'Chyba zobrazenia! Nesprávny názov šablóny[%s]...'
base_search: 'Hľadaj'
base_edit: 'Editácia'
base_del: 'Vymazanie'
base_last_update: 'Posledná aktualizácia'
base_spravca: 'Správca obsahu'
base_change_settings: 'Zmeniť nastavenia'
komponent_kontakt_h4: 'Kontaktný formulár'
komponent_kontakt_uvod: ''
komponent_kontakt_header: 'Nová správa pre: '
komponent_kontakt_meno: 'Vaše meno:'
komponent_kontakt_meno_sr: 'Vaše meno musí byť zadané!'
komponent_kontakt_email: 'Váš e-mail(aby sme mohli odpovedať...):'
komponent_kontakt_email_ar: 'Prosím, zadajte e-mail v správnom tvare. Napr. jano@hruska.com'
komponent_kontakt_email_sr: 'Váš e-mail musí byť zadaný!'
komponent_kontakt_text: 'Váš dotaz:'
komponent_kontakt_text_sr: 'Text dotazu musí byť zadaný!'
komponent_kontakt_text_s: 'Vaša správa:'
komponent_kontakt_text_s_sr: 'Text správy musí byť zadaný!'
komponent_kontakt_uloz: 'Pošli dotaz'
komponent_kontakt_send_ok: 'Váš dotaz bol zaslaný v poriadku. Ďakujeme za zaslanie dotazu.'
komponent_kontakt_send_er: 'Váš dotaz nebol zaslaný!. Došlo k chybe. Prosím skúste to neskôr znovu.<br />'
komponent_kontakt_send_s: 'Odošli správu'
komponent_kontakt_send_s_ok: 'Vaša správa bola odoslaná v poriadku.'
komponent_kontakt_send_s_okc: 'Vaša správa bola uložená a bol Vám zaslaný email na potvrdenie Vašej e-mailovej adresy. Skontrolujte si, prosím Vašu emailovú schránku (aj zložku Spam).'
komponent_kontakt_send_s_okr: 'Vaša správa bola v poriadku odoslaná na požadovaný kontakt.'
komponent_kontakt_send_s_oks: 'Vaša emailová adresa bola potvrdená a správa bola v poriadku odoslaná na požadovaný kontakt.'
komponent_kontakt_send_s_er: 'Vaša správa nebola odoslaná!. Došlo k chybe. Prosím skúste to neskôr znovu.'
komponent_kontakt_remember: 'Zapamätať email'
komponent_kontakt_warning: '<strong>Pozor!</strong><br>Po odoslaní Vašej správy je požadované potvrdenie Vašej e-mailovej adresy. Ak zaškrtnete \"Zapamätať e-mail\" tak pri najbližšom kontaktovaní už nebudete musieť e-mail potvrdzovať.'
komponent_kontakt_email_web: 'Správa z kontaktného formulará stránky %s' 
komponent_kontakt_email_msg: 'Užívateľ %s poslal nasledujúcu správu:'
komponent_kontakt_verifi_su: 'Overenie emailu z kontaktného formulára stránky %s'
komponent_kontakt_verifi_tx: 'Ďakujeme, že ste nás konaktovali. Pre úspešné odoslanie správy na meno: %s je potrebné overiť Vašu emailovú adresu.<br /> Toto urobíte po kliknutí na nasledujúci odkaz:'
komponent_kontakt_verifi_mg: 'Vaša správa: '
komponent_nahodna_notFound: 'Žiadna fotka sa nenašla!'
komponent_nahodna_h4: 'niečo z galérie ...'
base_kontakt_h2: 'Kontakt'
base_aktualne_h2: 'AKTUÁLNE'
base_jedalny_listok: 'Pozrieť jedálny lístok'
base_to_foto_galery: 'Odkaz na fotogalériu:'
base_to_article: 'Odkaz na článok:'
base_component_news_h4: 'Novinky:'
base_nice_day: 'Príjemný deň praje '
base_from: 'Od'
base_to: 'Do'
base_yes: 'Áno'
base_no: 'Nie'
base_return: 'Späť'
base_description: 'Popis'
base_size: 'Veľkosť'
base_time: 'Čas'
base_file_type: 'Typ súboru'
base_info: 'Informácie'

# --- RegisterForm ---
RegisterForm_h2: 'Registrácia'
RegisterForm_email: 'E-mailová adresa:'
RegisterForm_email_ar: 'Musíte zadať e-mailovú adresu v správnom tvare!(napr.: niekto@niekde.sk)'
RegisterForm_email_sr: 'E-mailová adresa musí byť zadaná!'
RegisterForm_email_sr2: 'Na túto adresu sa posielajú e-mailové notifikácie.'
RegisterForm_email_ph: 'zadajte e-mail'
RegisterForm_email_info: 'E-mail adresa bude použitá ako prihlasovacie meno.<br /> Do e-mailu Vám bude poslaný potvrdzovací kód.'
RegisterForm_psswd: 'Prihlasovacie heslo:'
RegisterForm_psswd_ar: 'Prihlasovacie heslo musí mať aspoň %d znakov!'
RegisterForm_psswd_sr: 'Heslo musí byť zadané!'
RegisterForm_psswd2: 'Over heslo:'
RegisterForm_psswd2_ar: 'Zadané heslá (prihlasovacie a overené) sa musia zhodovať.'
RegisterForm_psswd2_sr: 'Overované heslo musí byť zadané!'
RegisterForm_psswd2_info: 'Zadajte heslo ešte raz.'
RegisterForm_send: 'Založiť účet'

RegisterForm_name: 'Meno:'
RegisterForm_name_ar: 'Meno musí mať spoň %d znakov!'
RegisterForm_name_sr: 'Meno musí byť zadané!'
RegisterForm_surname: 'Priezvisko:'
RegisterForm_surname_ar: 'Priezvisko musí mať spoň %d znakov!'
RegisterForm_surname_sr: 'Priezvisko musí byť zadané!'
RegisterForm_gender: 'Pohlavie:'
RegisterForm_m: 'Muž'
RegisterForm_f: 'Žena'

#validateRegisterForm
RegisterForm_email_duble: 'K email-u %s už existuje účet. Ak si nepamätáte prístupové heslo požiadajte o neho cez položku <a href="%s" title="Zabudnuté heslo">Zabudnuté heslo</a> .'
RegisterForm_email_duble2: 'K email-u %s už existuje účet. Prosím, použite iný e-mail. Ak si nepamätáte prístupové heslo požiadajte o neho cez položku: "Zabudnuté heslo" v časti prihlásenia.'

# --- Enroll2Form ---
Enroll2Form_h2: 'Potvrdenie registrácie'
Enroll2Form_code: 'Kód z e-mailu:'
Enroll2Form_code_de: 'Zadejte kód z e-mailu.'
Enroll2Form_code_sr: 'Kód musí byť zadaný!'
Enroll2Form_send: 'Potvrdiť účet'

Enroll2Form_mail_send: 'Mail bol poslaný na: %s'
Enroll2Form_mail_subject: 'Registrácia'
Enroll2Form_mail_inner: '<p>Dobrý deň,</p><p>Váš aktivačný kód je: <b>%s</b><p><p><a href="%s">Kliknutím vykonáte aktiváciu.</a></p>'

Enroll2Form_validate_not_found: 'Užívateľ %s neexistuje!'
Enroll2Form_validate_ok_code: 'Aktivačný kód pre užívateľa %s bol zadaný, môžete sa prihlásiť.'
Enroll2Form_validate_er_delete: 'Opakovane chybný kód. Tento účet bol zmazaný!'
Enroll2Form_validate_er_code: 'Chybný e-mail alebo kód.'
Enroll2Form_validate_ok: 'Aktivácia ukončená, môžete se prihlásiť.'

# --- SignInForm ---
SignInForm_h2: 'Prihlásenie'
SignInForm_username: 'Užívateľské meno:'
SignInForm_username_sr: 'Prosím, vyplňte svoje užívateľské meno.'
SignInForm_username_min_lenght: 'Užívateľské meno musí mať aspoň %d znaky...'
SignInForm_email: 'Email:'
SignInForm_email_ph: '@'
SignInForm_email_ar: 'Zadajte, prosím, platnú e-mailovú adresu (napr. moj@mail.sk).'
SignInForm_email_sr: 'Uveďte, prosím, užívateľský email.'
SignInForm_password: 'Heslo:'
SignInForm_password_min_lenght: 'Heslo musí mať aspoň %d znakov...'
SignInForm_password_req: 'Uveďte, prosím, heslo.'
SignInForm_remember: ' Pamätať si ma'
SignInForm_login: 'Prihlásiť sa...'
SignInForm_forgottenPassword: 'Zabudnuté heslo?'
SignInForm_register_1: 'Nemáte účet?'
SignInForm_register_2: 'Zaregistrujte sa.'
SignInForm_login_ok: 'Vítajte! Úspešne ste sa prihlásili!'
SignInForm_main_error: 'Prihlásenie sa nepodarilo! Skúste neskôr znovu... Možná príčina je: %s'
#validateSignInForm
AuthenticationException_1: 'Užívateľ neexistuje.'
AuthenticationException_2: 'Chybný prihlasovací email alebo heslo.'
AuthenticationException_3: 'Iná chyba prihlásenia.'
AuthenticationException_4: 'Účet nie je schválený.'
AuthenticationException_5: 'Tento účet bol správcom systému uzamknutý.'
AuthenticationException_6: 'Tento účet je dočasne uzamknutý, zkúste to znovu za %s sekúnd.'
UserNotEnrolledException: 'Tento účet ešte nie je aktívny, zadajte kód z e-mailu.'

# --- ForgottenPassword ---
ForgottenPasswordForm_h2: 'Zabudnuté heslo'
ForgottenPasswordForm_txt: 'Zadajte emailovú adresu, ktorá je pripojená k Vášmu účtu a na ktorú bude odoslaný email pre reset hesla.'
ForgottenPasswordForm_send: 'Odošli požiadavku'
ForgottenPasswordForm_user_not_found: 'Došlo k chybe. K danej emailovej adrese %s neexzistuje užívateľ!'
ForgottenPasswordForm_email_ok: 'Na Vami zadanú emailovú adresu bola odoslaná správa pre resetovanie Vášho hesla. Ďalej prosím postupujte podľa tejto správy!'
ForgottenPasswordForm_email_err: 'Ospravedlňujeme sa, ale došlo k chybe a e-mail nebol zaslaný. Skúste to neskôr znovu. Možná príčina je: %s'
ForgottenPasswordForm_email_err1: 'Pre zadanú e-mailovú adresu: %s neexzistuje účet. Skúste, prosím, skontrolovať správnosť zadania e-mailu.'

ForgottenPasswordForm_reset_pass_hesla_err: 'Nové heslá sa nezhodujú!'
ForgottenPasswordForm_reset_pass_ok: 'Vaše heslo bolo v úspešne zmenené. Môžete ho použiť pri prihlásení sa...'
ForgottenPasswordForm_reset_pass_err: 'Došlo k chybe a heslo nebolo zmenené. Skúste neskôr znovu...<br /> Možná príčina: %s'

# ---
default_user_logedIn: '<div class="stav st_info">Už ste prihlásený!</div>'
registracia_not_enabled: 'Na tomto webe registrácia nie je dovolená!'

ResetPasswordForm_h2: 'Reset hesla'
reset_pass_txt1: 'Chystáte sa nastaviť nové heslo k Vášmu účtu. '
reset_pass_email: 'Emailová adresa vášho účtu je: %s'
reset_pass_txt2: 'Zadajte a potvrďte opätovným zadaním vaše nové heslo. '
reset_pass_err1: 'Pokúsili ste sa spustiť akciu s nesprávnym parametrom! Akcia bola ukončená!'
reset_pass_err2: 'Pokúsili ste sa zresetovať heslo účtu! Vaša požiadavka nemôže byť akceptovaná, lebo daný úžívateľ o resetovanie hesla nepožiadal, alebo je táto požiadavka už neaktuálna!'
reset_pass_err3: 'Pri pokuse o resetovanie hesla účtu došlo k chybe. Akciu nebolo možné uskutočniť! Skúste neskôr znovu... Ak sa to bude opakovať kontaktujte prosím administrátora(e-mail na spodku stránky)!'
ResetPasswordForm_new_heslo: 'Nové heslo:'
ResetPasswordForm_new_heslo_sr: 'Nové heslo musí byť zadané!'
ResetPasswordForm_new_heslo2: 'Potvrď nové heslo:'
ResetPasswordForm_new_heslo2_ar: 'Zadané nové heslá sa musia zhodovať!'
ResetPasswordForm_new_heslo2_sr: 'Potvrdené nové heslo musí byť zadané!'
register_aktivacia: 'Aktivácia účtu'
register_email_ok: 'Na Vami zadanú emailovú adresu bola odoslaná správa pre aktiváciu Vášho účtu. Aktiváciu je nutné dokončiť najneskôr do 7 dní. Inak bude vaše konto zrušené bez upozornenia a budete sa musieť zaregistrovať znovu!!! Ďalej prosím postupujte podľa tejto správy!'
send_email_err: 'Došlo k chybe pri odosielaní e-mailu. Skúste neskôr znovu...<br />'
register_save_err: 'Došlo k chybe a údaje o užívateľovi sa neuložili. Skúste neskôr znovu...'
activate_ok: 'Váš účet je teraz aktívny! Môžete sa prihlásiť...'
activate_err1: 'Došlo k chybe pri aktivácii Vášho účtu. Skúste neskôr znovu...<br />'
activate_err2: 'Pri pokuse o aktiváciu účtu došlo k chybe. Aktiváciu účtu nebolo možné uskutočniť! Skúste neskôr znovu... Ak sa to bude opakovať kontaktujte prosím administrátora(e-mail na spodku stránky)!'

#Clanky
clanky_nic_nie_je: 'V tejto časti ešte nie je zadaný žiaden platný článok.'
clanky_bez_opravnenia: 'Nemáte dostatočné oprávnenie na túto operáciu!'
clanky_nenajdeny_clanok_h2: 'Článok nenájdený'
clanky_nenajdeny_clanok_txt: 'Ľutujeme, ale Vami požadovaný článok sa nenašiel. Alebo článok neexistuje, alebo nemáte dostatočné oprávnenie na prezeranie článku.'
clanky_nenajdeny_clanok: 'Požadovaný článok sa nenašiel'
clanky_nenajdeny_clanok_hl: 'Požadovaný hlavný článok časti sa nenašiel'
clanky_najdeny_ale_neopravneny: 'Požadovaný článok existuje, ale nemáte oprávnenie na čítanie!'
clanky_najdeny_neprihlaseny: 'Pre zobrazenie požadovaného článku sa musíte prihlásiť!'
clanky_viac: 'čítajte viac'
clanky_viac_info: ''
clanky_odkazNaClankyControl_not_found: 'Odkaz na požadovaný článok sa nenašiel!'
clanky_aktualny_projekt_h2: 'Aktuálny projekt'
clanky_to_foto_galery: 'Vstup do fotogalérie'
clanky_to_article: 'Vstup do článku'
clanky_dokument_not_found: 'Dokument, ktorý hľadáte, sa žiaľ nenašiel!'
clanky_dokument_download: 'Stiahni'
clanky_dokument_view: 'Zobraz'
clanky_h3_prilohy: 'Prílohy'
clanky_h3_prilohy_audios: 'Audio prílohy'
clanky_h3_prilohy_videos: 'Video prílohy' 
clanky_h3_prilohy_images: 'Obrazové prílohy'
clanky_h3_prilohy_others: 'Prílohy' 
clanky_h3_suvisiace_podcl: 'Súvisiace podčlánky'

galery_arrows_before: 'Predošlý'
galery_arrows_after: 'Nasledujúci'

#Oznamy
oznam_volba_zapisana: 'Vaša účasť pre oznam %s je zapísaná.'
oznam_volba_nezapisana: 'Volba nebola zapísaná! Pravdepodobne je chybný odkaz.'

#UserLog
nespravny_uzivatel: 'Nemáte oprávnenie na túto operáciu! Nie ste ten správny používateľ.'
UserEditForm_meno: 'Meno:'
UserEditForm_meno_ar: 'Meno musí mať spoň %d znakov!'
UserEditForm_meno_sr: 'Meno musí byť zadané!'
UserEditForm_priezvisko: 'Priezvisko:'
UserEditForm_priezvisko_ar: 'Priezvisko musí mať spoň %d znakov!'
UserEditForm_priezvisko_sr: 'Priezvisko musí byť zadané!'
UserEditForm_rok: 'Rok narodenia:'
UserEditForm_rok_ar: 'Rok narodenia musí byť v rozsahu od %d do %d'
UserEditForm_telefon: 'Telefón:'
UserEditForm_poznamka: 'Poznámka:'
UserEditForm_pohl: 'Pohlavie:'
UserEditForm_m: 'Muž'
UserEditForm_z: 'Žena'
UserEditForm_news: 'Posielanie info. emailov:'
UserEditForm_avatar: 'Avatar:'
UserEditForm_avatar_oi: 'Obrázok musí byť JPEG, PNG alebo GIF.'
UserEditForm_avatar_ar: 'Maximálna veľkosť súboru je 300 kB.'
user_edit_avatar_err: 'Pre avatar nebol použitý obrázok a tak nebol uložený!'
user_edit_save_ok: 'Údaje boli uložené!'
user_edit_save_err: 'Došlo k chybe a údaje o užívateľovi sa neuložili. Skúste neskôr znovu...'
default_h2_edit: 'Editácia profilu'
default_pass_change: ' Zmena hesla'
default_h2_additional: 'Doplňujúce údaje:'
default_delete: 'Vymazanie profilu'
default_avatar_txt: 'Ak chceš zmeniť vlož obrázok s max. veľkosťou 300kB:'
default_email: 'E-mail:'
default_email_change: 'Zmena e-mailu'
default_registracia: 'Úroveň registrácie:'
default_last_log: 'Posledné prihlásenia:'
default_count_log: 'Počet prihlásení:'
default_created: 'Vytvorenie účtu:'
default_modified: 'Posledná zmena účtu:'
mail_change_h2: 'Zmena emailovej adresy užívateľa %s %s'
mail_change_txt: 'Vaša súčasná adresa je: %s'
mail_change_email_duble: 'K email-u %s už existuje účet. Nemôžete si zmeniť email na tento!'
MailChangeForm_heslo: 'Prihlasovacie heslo:'
MailChangeForm_heslo_sr: 'Prihlasovacie heslo musí byť zadané!'
MailChangeForm_new_email: 'Nový e-mail:'
MailChangeForm_new_email_ar: 'Musíte zadať e-mailovú adresu v správnom tvare!(napr.: niekto@niekde.sk)'
MailChangeForm_new_email_sr: 'Nový e-mail musí byť zadaný!'
pass_incorect: 'Prihlasovacie heslo nie je správne!'
mail_change: 'Zmena emailovej adresy'
mail_change_send_ok: 'Na novú email-ovú adresu bol odoslaný mail na potvrdenie a aktiváciu novej adresy.'
mail_change_send_err: 'Došlo k chybe pri odosielaní aktivačného emailu pre nový email. Skúste neskôr znovu...'
activate_mail_login: ' Môžete sa prihlásiť...'
activate_mail_ok: 'Váš nový email je od teraz aktívny!'
activate_mail_err: 'Došlo k chybe pri aktivácii Vášho nového emailu. Skúste neskôr znovu...<br />'
activate_mail_err1: 'Pri pokuse o aktiváciu nového emailu došlo k chybe. Aktiváciu nebolo možné uskutočniť! Skúste neskôr znovu... Ak sa to bude opakovať kontaktujte prosím administrátora(e-mail na spodku stránky)!'
pass_change_h2: 'Zmena hesla užívateľa %s %s'
PasswordChangeForm_heslo: 'Staré heslo:'
PasswordChangeForm_heslo_sr: 'Staré prihlasovacie heslo musí byť zadané!'
PasswordChangeForm_heslo_de: 'Vyplňte svoje aktuálne platné heslo.'
PasswordChangeForm_new_heslo: 'Nové heslo:'
PasswordChangeForm_new_heslo_ar: 'Nové heslo musí mať spoň %d znakov!'
PasswordChangeForm_new_heslo_sr: 'Nové heslo musí byť zadané!'
PasswordChangeForm_new_heslo_de: 'Nové heslo, ktoré chcete nastaviť.'
PasswordChangeForm_new_heslo2: 'Potvrď nové heslo:'
PasswordChangeForm_new_heslo2_ar: 'Zadné nové heslá sa musia zhodovať!'
PasswordChangeForm_new_heslo2_sr: 'Potvrdené nové heslo musí byť zadané!'
PasswordChangeForm_new_heslo2_de: 'Zadajte nové heslo ešte raz.'
PasswordChangeForm_new_send: 'Zmeň heslo'
pass_change_ok: 'Vaše heslo bolo úspešne zmenené!'
pass_old_error: 'Neplatné heslo - zadajte správne staré heslo.'
pass_change_err: 'Došlo k chybe a heslo nebolo zmenené. Skúste neskôr znovu...<br />'

#E-mail template
email_nefunkcny_odkaz: 'Odkaz nefunguje? Skopírujte nasledujúci odkaz do adresového riadnu Vášho prehliadača:'
email_pozdrav: 'Príjemný deň praje'
email_change_mail_nadpis: 'Zmena e-mailovej adresy na %s!'
email_change_mail_txt: 'Na stránke %s ste požiadali o zmenu e-mailovej adresy. Pre potvrdenie tejto zmeny kliknite na nasledujúci odkaz: '
email_change_mail_txt1: 'Ak ste o zmenu nepožiadali, tak nerobte nič len tento e-mail zmažte. Požiadavka sa zo systému zmaže sama po istom čase.'
email_activate_nadpis: 'Aktivácia účtu po registrácii na %s !'
email_activate_txt: 'Ďakujeme, že ste sa zaregistrovali na našej stránke. Pre ukončenie registrácie je potrebné Váš účet aktivovať. Aktiváciu vykonáte kliknutím na nasledujúci odkaz:'
email_reset_title: 'Reset hesla na stránke %s !'
email_reset_txt: ' Na našej stránke ste požiadali o resetovanie hesla. Pre uskutčnenie tejto akcie je potrebné kliknúť na nasledujúci odkaz:'
delete_user_user: 'užívateľa'
delete_user_ok: 'Užívateľ s emailom %s bol zmazaný!'
delete_user_err: 'Došlo k chybe pri vymazávaní. Skúste neskôr znovu...'

#Error
err_403_h2: 'Prístup bol odmietnutý!'
err_403_text: 'Na zobrazenie tejto stránky nemáte povolenie. Ak sa domnievate, že by ste túto stránku mali vidieť, skúste sa obrátiť na správcu webových stránok.'
err_404_h2: 'Stránka sa nenašla!'
err_404_text: 'Požadovanú stránku sa nepodarilo nájsť. Je možné, že adresa je nesprávna alebo že stránka už neexistuje.' # ... Na vyhľadanie toho, čo hľadáte, použite vyhľadávací nástroj.
err_405_h2: 'Metóda nie je povolená!'
err_405_text: 'Požadovaná metóda nie je pre webovú adresu povolená.'
err_410_h2: 'Stránka sa nenašla!'
err_410_text: 'Požadovaná stránka bola z webu odstránená. Ospravedlňujeme sa za spôsobené nepríjemnosti.'
err_4xx_h2: 'Ups...'
err_4xx_text: 'Váš prehliadač odoslal žiadosť, ktorú tento server nemohol pochopiť alebo spracovať.'
err_500_h2: 'Chyba servera'
err_500_text: 'Je nám to ľúto! Server zaznamenal internú chybu a nemohol dokončiť vašu požiadavku. Skúste neskôr prosím.'
err_go_to_homepage: 'Tu môžete prejsť na hlavnú stránu.'

# Logged In(li)
main_li_user: 'Užívateľ:'
main_li_role: 'Rola:'
main_li_prefix: 'Prefix:'
main_li_log_out: 'Odhlásiť sa ...'

######################################################################################################################################
# Units
units_h1: 'Kódy jednotiek'
units_info_text: 'Zoznam zaregistrovaných kódov jednotiek, ktoré je možné používať v senzoroch.'
units_table_unit: 'Jednotka'

# Inventory
inv_user_h1: 'Môj účet'
inv_prev_login: 'Predchádzajúce prihlásenie:'
inv_last_error_login: 'Posledné neúspešné prihlásenie:'
inv_options_h3: 'Vlastnosti účtu'
#inv_username: 'Prihlasovacie meno:'
#inv_username_comm: 'Toto meno zadávate pri prihlasovaní.'
inv_email: 'E-mailová adresa:'
inv_email_comm: 'Tento e-mail zadávate pri prihlasovaní. Na tuto adresu budú posielané e-mail notifikácie.'
inv_monitoring_token: 'Token pre prístup k monitoringu:'
inv_monitoring_token_h3: 'Monitoring'
inv_monitoring_token_t1: 'Dáta monitoringu sú dostupné tu:'
inv_monitoring_token_t2: 'Každý, kto pozná túto URL, si môže dáta zobraziť. Prístup <b>nieje chránený heslom</b>.'
inv_monitoring_token_form: 'Bezpečnostný token pre výstup monitoringu:'
inv_monitoring_token_form_de: 'Pokiaľ nie je vyplnený, dáta nie sú bez autorizácie dostupné.'
inv_retenction_h3: 'Retencia dat'
inv_retenction_t1: 'Uložené dáta staršie ako určený čas budú zmazané.'
inv_retenction_d1: 'Detailné dáta (zdrojové hodnoty):'
inv_retenction_day: 'dní'
inv_retenction_nr: 'neobmedzené'
inv_retenction_sum: 'Sumárne dáta (hodinové priemery, maxima, minima):'
inv_retenction_fil: 'Súbory:'
inv_userlang: 'Jazyk prostredia'
inv_userlang_comm: 'Jazyk v ktorom bude prostredie ale aj všetky texty v emailoch a pod.'
inv_user_change_h1: 'Zmena nastavenia účtu užívateľa'

# Devices
devices_h1: 'Zariadenia'
device_h1: 'Zariadenie'
device_list_h1: 'Moje zariadenia'
device_list_new: 'Nové zariadenie'
device_list_zero: 'Zatiaľ nemáte žiadne zariadenia.'
device_first_login: 'Prvé prihlásenie'
device_last_login: 'Posledné prihlásenie'
device_login_error_title: 'Zariadenie má problém s prihlásením. Posledné neúspešné prihlásenie:'
device_config_change_wait: 'Zariadenie čaká zmena konfigurácie'
device_list_info: 'Info'
device_list_edit: 'Edit'
device_list_chart: 'Graf'
device_list_stat: 'Štatistika'
devices_user: 'Zariadenia účtu'
devices_not_found_h1: 'Zariadenie sa nenašlo!'
devices_not_found_txt: 'Ľutujeme, ale Vami požadované zariadenie sa nenašlo. Alebo neexzistuje, alebo nemáte dostatočné oprávnenie na prezeranie.'
devices_not_found_link: 'Naspäť na výpis zariadení'
device_delete: 'Zmazať zariadenie'
device_create_h1: 'Nové zariadenie'
device_show_h3: 'Konfigurácia zariadenia'
device_show_desc: 'Po stisku tlačítka sa zobrazí konfigurácia, ktorú je potrebné nastaviť v zariadení v konfiguračnom portály zariadenia.'
device_show_config: 'Zobraziť konfiguráciu'
device_show_config_info: 'Túto konfiguráciu nastavte v zariadení.'
device_show_info: 'Informácie'
device_show_app_name: 'Prevádzkovaná aplikácia'
device_show_not_log_in: 'Zariadenie sa ešte neprihlásilo cez rozhranie RatatoskrIoT, preto nebude vypísané v monitoringu.'
device_show_last_comm: 'Posledná komunikácia'
device_show_by_last_comm: 'pri poslednej komunikácii'
device_show_by_last_login: 'pri poslednom prihlásení'
device_show_wifi_sig: 'Sila WiFi signálu'
device_show_wifi_verygood: 'výborná kvalita signálu'
device_show_wifi_good: 'dobrá kvalita signálu, malo by fungovať aj posielanie súborov a logov.'
device_show_wifi_notgood: 'Obmedzená kvalita signálu - data prejdú, ale pri súboroch a logoch očakávajte problémy.'
device_show_wifi_bad: 'Zlá kvalita signálu - očakávejte problémy.'
device_show_monitoring_contr: 'Kontrolovať v monitoringu'
device_show_edit: 'Upraviť zariadenie'
device_show_send_conf: 'Poslať zmenu konfigurácie'
device_show_send_ota: 'Poslať OTA aktualizáciu aplikácie'
device_show_ota_h3: 'OTA aktualizácie aplikácie'
device_show_ota_from: 'Z verzie'
device_show_ota_upl: 'Nahrané'
device_show_ota_down: 'Stiahnuté'
device_config_change: 'Zmena konfigurácie'
device_show_data: 'Data zariadenia'
device_json_data: 'Data zo senzorov zariadenia vo forme JSON sú dostupné tu'
device_mateo_data: 'Pokiaľ je zariadenie meteostanica so senzormi teploty a zrážok, možno získať dáta pre display meteostanice tu'
device_data_link_desc: 'Každý, kdo vie túto URL, si môže data zobraziť. Prístup k JSON súboru už <b>nie je chránený heslom</b>.'
device_galery: 'Galéria obrázkov'
device_galery_link: 'Galéria obrázkov (pokiaľ ich zariadenie generuje) je dostupná tu'
device_galery_link_desc: 'Každý, kdo vie túto URL, si môže data zobraziť. Prístup k obrázkom už <b>nie je chránený heslom</b>.'
device_files_h3: 'Súbory'
device_files_txt1: 'Pri zariadení je uložených'
device_files_txt2: 'súborov'
device_del_h1: 'Zmazanie zariadenia'
device_del_txt1: 'Skutočne chcete zmazať zariadenie'
device_del_txt2: 'Túto akciu nebude možné vrátiť zpäť!'
device_del_txt3: 'K senzorom tohto zariadenia sú zaznamenané'
device_del_txt4: 'Tieto data budú tiež zmazané!'
device_del_d: 'detailné data'
device_del_s: 'sumárné data'
device_del_d_m: 'Meno senzoru'
device_del_d_c: 'Počet záznamov'
device_del_warn: 'Upozornenie: mazanie môže trvať aj minútu...'
device_blobs_h1: 'Súbory'
device_return: 'Späť na zariadenie'
device_blobs_actual: 'Aktualizovať zoznam'

# Sensor
senzors: 'Senzory'
sensor: 'Senzor'
status: 'Stav'
sensor_list_t_type: 'Typ'
sensor_list_t_fa: 'Faktor'
sensor_list_t_int: 'Interval'
sensor_list_not_data: 'Senzor nedodáva data. Posledné data:'
sensor_list_data_ol: 'je hodnota nad limitom.'
sensor_list_data_ul: 'je hodnota pod limitom.'
sensor_list_warn_up: 'Senzor má nastavené posielanie varovaní pri prekročení horného limitu.'
sensor_list_warn_dwn: 'Senzor má nastavené posielanie varovaní pri prekročení spodného limitu.'
sensor_list_warn_imp: 'Pre impulzné senzory denná suma (môže mať cca minútu meškanie). Pre ostatné posledná zaslaná hodnota (ihneď).'

device_form_gr_1: 'Základné údaje'
device_form_name: 'Identifikátor (meno):'
device_form_name_sr: 'Meno je povinné zadať!'
device_form_name_ar: 'Len písmena a čísla...'
device_form_name_de: 'Toto meno doplnené prefixom bude používané pre prihlásenie zariadenia.'
device_form_passphrase: 'Komunikačné heslo:'
device_form_passphrase_sr: 'Heslo je nutné zadať!'
device_form_desc: 'Popis:'
device_form_desc_sr: 'Popis je potrebné zadať!'
device_form_gr_2: 'Prístup k datám bez prihlásenia'
device_form_json_token: 'Bezpečnostný token pre JSON dáta:'
device_form_json_token_de: 'Ak je vyplnený, kdokoľvek so znalosťou správnej adresy sa môže pozrieť na JSON s dátami. Má zmysel len v prípade, že má zariadenie nejaké senzory.'
device_form_blob_token: 'Bezpečnostný token pre galériu:'
device_form_blob_token_de: 'Ak je vyplnený, kdokoľvek so znalosťou správnej adresy sa môže pozrieť na galériu obrázkov. Má zmysel len vtedy, ak zariadenie nahráva obrázky.'
device_form_gr_3: 'Monitoring'
device_form_monitoring: 'Zaradiť do monitoringu funkcie'
device_form_monitoring_de: 'Pokiaľ zo senzorou zariadenia nebudú chodiť dáta tak často, ako majú, bude poslaná notifikácia.'
device_form_not_aut: 'K tomuto zariadeniu nemáte práva!'

device_form_del: 'Potvrdiť zmazanie'
device_form_del_d: 'Zaškrtnutím potvrďte, že skutočne chcete zmazať zariadenie a všetky dáta ním zaznamenané.'
device_form_del_ok: 'Zariadenie bolo zmazané.'

# Graphs
graphs_h1: 'Grafy'

# Logs
log_device_edit: 'Užívateľ #%s (%s) edituje/prezerá konfiguráciu/heslo zariadenia s id: %s'
log_device_edit_not_aut: 'Užívateľ #%s (%s) zkúsil editovať zariadenie patriace užívateľovi #%s'
log_device_view: 'Užívateľ #%s (%s) prezerá konfiguráciu/heslo zariadenia s id: %s'